:root {
  --m-scale:  1.1;
  --font-m:   1rem;
  --font-l:   calc(1rem * var(--m-scale));
  --font-xl:  calc(1rem * var(--m-scale) * var(--m-scale));
  --font-xxl: calc(1rem * var(--m-scale) * var(--m-scale) * var(--m-scale));  
  
  @media screen and (min-width: 20em) {
    --m-scale: 1.2;
  }
  
  @media screen and (min-width: 30em) {
    --m-scale: 1.3;
  }
  
  @media screen and (min-width: 42em) {
    --m-scale: 1.5;
  }
}



html {
  font-size: 100%;
}

.post-h1 {
  font-size: var(--font-xxl);
  margin-bottom: 1em;
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    left: 0; bottom: -0.25em;
    height: 0.14em; width: 3em;
    background: #DC9555;
  }
}

.post-h2 {
  font-size: var(--font-xl);
  margin-bottom: 0.5em;
  margin-top: calc(var(--m-scale) * 1em);
}

.post-p {
  font-size: var(--font-m);
  margin: 0 0 1em;
} 

// Additional styling
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.post-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.1;
} 

.post-container {
  margin: 0 auto;
  padding: 1em;
  max-width: 42em;
}

// Little number widget
.numbers {
  font-size: calc(1rem + 0.5vw);
  //display: none;
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 1em;
  background: #ccc;
  border-radius: 0.5em;
  
  dl {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 0.5em 1em;
  }
  dd, dt {
    margin: 0;
    padding: 0;
  }
  dt {
    text-align: right;
    font-weight: bold;
  }
}
